In [ ]:
for i in range(1,5):
  for k in range(1,i):
      print(" ",end="")
  for j in range(1,5-i+1):
    print("*",end="")
  print()

****
 ***
  **
   *

In [ ]:
for i in range(1,5):
  for j in range(1,5-i):
    print("-",end=" ")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

- - - *
- - * *
- * * *
* * * *

In [ ]:
for i  in range(1,5):
  for j in range(1,i+1):
    print("*",end=" ")
  print()

*
* *
* * *
* * * *

In [ ]:
for i in range(1,5):
  for j in range(1,i):
    print("-",end=" ")
  for k in range(i,5):
      print("*",end=" ")
  print()

* * * *
- * * *
- - * *
- - - *

In [ ]:
for i in range(1,5):
  for j in range(1,6-i):
   print("*",end=" ")
  for k in range(1,i):
    print("-",end=" ")
  print()

* * * *
* * * -
* * - -
* - - -

In [ ]:
for i in range(1,5):
  x=97
  for j in range(1,5-i):
    print(j,end=" ")
  for k in range(1,i+1):
    print(chr(x),end=" ")
    x+=1
  print()

1 2 3 a
1 2 a b
1 a b c
a b c d

In [ ]:

for i in range(1,5):

  for j in range(1,i+1):
    print(j*i,end=" ")
  print()

1
2 4
3 6 9
4 8 12 16

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    if j %2!=0:
      print("1",end=" ")
    else:
      print("0",end=" ")
  print()

1
1 0
1 0 1
1 0 1 0

In [ ]:
for i in range(1,6):
  for j in range(1,6-i):
    print("-",end="")
  for k in range(1,i+1):
    print("*",end=" ")
  print()

----*
---* *
--* * *
-* * * *
* * * * *

In [ ]:
for i  in range(1,5):
  for j in range(1,5-i):
    print("-",end="")
  for k in range(1,i+1):
    print(k,end=" ")
  print()

---1
--1 2
-1 2 3
1 2 3 4

In [ ]:
for i in range(1,6):
  for j in range(1,i):
    print(" ",end="")
  for k in range(1,7-i):
    print("*",end=" ")
  print()

* * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
x=1
for i in range(1,5):
  for j in range(1,5-i):
    print(" ",end="")
  for k in range(1,i+1):
    print(x ,end=" ")
    x+=1

  print()

   1
  2 3
 4 5 6
7 8 9 10

In [ ]:

for i in range(1,6):

  for j in range(1,i):
    print(" ",end="")
  for k in range(i,7-1):
    print(k,end=" ")

  print()

1 2 3 4 5
 2 3 4 5
  3 4 5
   4 5
    5

In [ ]:
num=8
for i in range(1,num+1):
  for j in range(1,i+1):
    if (j==1 or i==num or i==j):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
*       *
*         *
*           *
* * * * * * * *

In [ ]:
num=7
for i in range(1,num+1):
  for j in range(1,num-i+2):
    if(i==1  or j==1 or j==num-i+1 ):
      print("*",end=" ")
    else:
      print(" ",end=" ")

  print()

* * * * * * *
*         *
*       *
*     *
*   *
* *
*

In [ ]:
num=6
for i in range(1,num+1):
  for j in range(1,num-i+1):
    print("_",end="")
  for k in range(1,i+1):
    if(i==num or i==k or k==1):
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

     *
    * *
   *   *
  *     *
 *       *
* * * * * *